@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================================
   PEMBUNUH SCROLLBAR BAWAAN OS WINDOWS
========================================== */
::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-y: none; /* Mencegah layar tertarik/pull-to-refresh saat disentuh */
    user-select: none; /* Mencegah teks ter-highlight secara tidak sengaja oleh sentuhan */
}

/* Utilitas tambahan jika ada div spesifik yang butuh disembunyikan scrollnya */
.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* ==========================================
   TEMA KOMPONEN RETRO KUSTOM ANDA
========================================== */
@layer components {
  .retro-window {
    @apply border-[6px] border-gray-900 shadow-[12px_12px_0_0_rgba(0,0,0,1)] relative;
  }
  .retro-header {
    @apply bg-blue-800 text-white font-pixel p-3 text-lg border-b-[6px] border-gray-900;
  }
  .retro-btn {
    @apply bg-blue-600 border-[4px] border-gray-900 font-pixel text-white hover:bg-blue-800 hover:translate-y-1 hover:shadow-none shadow-[4px_4px_0_0_#222] transition-all;
  }
  .retro-btn-danger {
    @apply bg-red-600 border-[4px] border-gray-900 font-pixel text-white hover:bg-red-800 hover:translate-y-1 hover:shadow-none shadow-[4px_4px_0_0_#222] transition-all;
  }
  .slot-box {
    @apply absolute border-4 border-dashed border-red-500 bg-red-500/30 flex items-center justify-center font-bold text-red-500 text-3xl select-none cursor-move;
  }
  .resize-handle {
    @apply absolute bottom-0 right-0 w-8 h-8 bg-red-600 border-2 border-white cursor-se-resize;
  }
  .editor-canvas-container {
    background-color: #333;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
}